
body {
    padding-left:1%;
    padding-top:55px;
}

tr {
	text-align:center;
	margin-left:10%;
}

img {
	margin:1px
}
.label{
	width:8%;
	height:8%
}

#searchvalue{
	margin-left:20%;
	height:10%;
	width:40%;
}
#searchbutton{
	height:10%;
	width:15%;
}


#right{
	margin-top:5%;
	padding:2px;
	font-size:130%;
}



#shishen_tabs{
	padding-left:20%;
	margin-bottom:2%;
	margin-top:2%
}
#totop {
	float:right;
}