
a {
	width:36px;
	height:23px;
}

tr {
	text-align:center;
	margin-left:10%;
}

#searchvalue{
	margin-left:35%;
}

#right{
	margin-top:5%;
}

.linka{
	text-align:center;
	margin-right:20%;
	font-size:large
}

#shishen_tabs{
	padding-left:20%;
	margin-bottom:2%;
	margin-top:2%
}