
img{
	width:90px;height:90px;
} 

a {
	width:36px;
	height:23px;
}

#left{
	width:50%;
	float:left;
	/* border:solid;  */
	margin-right:-3px;
}
	

#right{
	float:left;
	width:49%;
	margin-left:50%;
	/* border:solid; */
	margin-left:0px;
}

tr {
	text-align:center;
	margin-left:10%;
}
